<div class="home-page">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1 class="home-title">tenniction</h1>

  <h2 class="home-info">
    タイトルの由来はtennisとconnectionを掛け合わせです。<br>
    ここはソフトテニスが好きな人たちと繋がる場所です。<br>
    一緒にテニスをする仲間を見つけたり、情報発信をしたり出来ます。<br>
    お気に入りの人を見つけてフォローしてみよう！
  </h2>
</div>