<div class="search-page">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a href="#users" class="nav-link active" data-toggle="tab">ユーザー</a>
    </li>
    <li class="nav-item">
      <a href="#posts" class="nav-link" data-toggle="tab">投稿</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="users" class="tab-pane active">
      <% if @users.present? %>
        <% @users.each do |user| %>
          <p><%= user.name %></p>
          <hr class="partition">
        <% end %>
      <% else %>
        <h4>一致しませんでした</h4>
      <% end %>
    </div>
  
    <div id="posts" class="tab-pane">
      <% if @posts.present? %>
          <% @posts.each do |post| %>
          <p><%= post.body %></p>
          <hr class="partition">
        <% end %>
      <% else %>
        <h4>一致しませんでした</h4>
      <% end %>
    </div>
  </div>
</div>