$sp: 767px; //max
$tab: 768px; //min
$tab-max: 1023px;
$pc: 1024px; //min

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: ($tab)) and (max-width: ($tab-max)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

.edit-profile {
  background-color: #fbfbfb;
  border-top: solid 5px #28a746de;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 0 0 10px 10px;
  padding: 4rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
  text-align: center;

  @include pc {
    margin-top: 14rem;
  }
  
  .post-btn {
    @include sp {
      font-size: 1.6rem;
    }
    border: solid 2px #28a746de;
    border-radius: 15px;
    background-color: #fff;
    color: #28a746de;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    width: 10rem;
    &:hover {
      background-color: #28a746de;
      color: white;
      font-weight: bold;
    }
  }

  .delete-user-btn {
    font-size: 1.2rem;
    border: none;
    border-top: double 3px rgb(255, 100, 100);
    border-bottom: double 3px rgb(255, 100, 100);
    background-color: #fff;
  }
  
  .edit-profile-form {
    font-size: 1.2rem;
    @include pc {
      font-size: 1.4rem;
    }

    input,
    textarea {
      border: solid 1px #28a746de;
    }

    input {
      @include pc {
        width: 30rem;
      }
      width: 20rem;
    }

    textarea {
      @include sp {
        width: 20rem;
        height: 10rem;
      }
      @include tab {
        width: 32rem;
        height: 16rem;
      }
      @include pc {
        width: 50rem;
        height: 30rem;
      }
      resize: none;
    }

    .edit-image {
      &:hover {
        cursor: pointer;
      }
    }

    .edit-user-image {
      color: #28a746de;
    }
  }
}