$sp: 767px; //max
$tab: 768px; //min
$tab-max: 1023px;
$pc: 1024px; //min

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: ($tab)) and (max-width: ($tab-max)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

.home-page {
  text-align: center;

  @include sp {
    height: 80rem;
  }

  @include tab {
    height: 100rem;
  }

  p {
    margin-bottom: 0;
  }

  .home-title {
    color: rgb(42, 160, 42);
    padding-top: 14rem;
    font-weight: bold;

    @include sp {
      font-size: 3rem;
    }

    @include tab {
      font-size: 3rem;
    }

    @include pc {
      font-size: 4rem;
    }
  }

  .home-info {
    color: #444;
    font-weight: bold;

    @include sp {
      font-size: 1.6rem;
      margin-top: 4rem;
      letter-spacing: 0.1rem;
      line-height: 3rem;
    }

    @include tab {
      margin-top: 4rem;
      letter-spacing: 0.4rem;
      line-height: 6rem;
    }

    @include pc {
      font-size: 2.4rem;
      margin-top: 6rem;
      letter-spacing: 0.8rem;
      line-height: 8rem;
    }
  }
}