$sp: 767px; //max
$tab: 768px; //min
$tab-max: 1023px;
$pc: 1024px; //min

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: ($tab)) and (max-width: ($tab-max)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

.new_user {
  margin-bottom: 2rem;
  .field {
    padding-top: 1rem;
    .check-btn {
      margin-top: 1rem;
    }
    .check-label {
      font-size: 1.2rem;
    }
  }

  .password-reset-form {
    margin-bottom: 1rem;
    @include pc {
      margin-bottom: 2rem;
    }
  }
}