$sp: 767px; //max
$tab: 768px; //min
$tab-max: 1023px;
$pc: 1024px; //min

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: ($tab)) and (max-width: ($tab-max)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

// 新規投稿
.new-post {
  background-color: #fbfbfb;
  border-top: solid 5px #28a746de;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 0 0 10px 20px;
  padding: 4rem;
  margin: 5rem auto;
  margin-top: 10rem;

  @include sp {
    width: 95%;
  }
  @include tab {
    width: 90%;
  }
  @include pc {
    width: 80%;
    margin-top: 14rem;
  }


  .post-new {
    text-align: center;
    .post-new-form {
      @include sp {
        width: 24rem;
        height: 20rem;
      }
      @include pc {
        font-size: 1.2rem;
      }
      width: 32rem;
      height: 40rem;
      resize: none;
      border: solid 2px #5ba13680;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
  
    .post-image {
      border: solid 2px #5ba13680;
      margin-top: 0.6rem;
      &:hover {
        cursor: pointer;
      }
    }
  
    .post-btn {
      border: solid 2px #5ba13680;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      font-size: 1.6rem;
      font-weight: bold;
      width: 10rem;
      color: #5d627b;
      &:hover {
        color: white;
        background-color: #28a746de;
      }
    }
  }

  .post-example {
    opacity: 0.6;
    @include tab {
      margin-left: 6rem;
    }
    @include pc {
      font-size: 1.2rem;
    }
    .post-example-box {
      @include sp {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}

// 投稿一覧

.post-index {
  margin: 3rem auto;
  margin-top: 10rem;

  @include sp {
    margin-top: 8rem;
  }
  
  @include pc {
    padding: 0 4rem;
  }

  .alert .notice {
    text-align: center;
  }

  .like-icon {
    @include tab {
      font-size: 1.2rem;
    }
  }
  
  .pagination {
    justify-content: center;
    @include pc {
      font-size: 1.2rem;
    }
    li {
      a {
        border: none;
        color: #28a746de;
        &:hover {
          border-radius: 15px;
        }
      }
    }
    .active {
      a {
        background-color: #28a746de;
        border-radius: 15px;
      }
    }
  }

  .post-index {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;

    @include sp {
      justify-content: center;
    }
    @include tab {
      padding-left: 5rem;
    }
    @include pc {
      padding-left: 10rem;
    }

    .postcard {
      background-color: #fbfbfb;
      border-top: solid 5px #28a746de;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      border-radius: 0 0 10px 10px;
      overflow: auto;
      margin-bottom: 30px;
      text-align: center;
      @include sp {
        width: 34%;
        height: 22rem;
        margin-right: 2rem;
        margin-left: 2rem;
      }
      @include tab {
        width: 28%;
        height: 22rem;
        margin-right: 3rem;
      }
      @include pc {
        width: 21%;
        height: 26rem;
        margin-right: 3rem;
      }

      .post-body {
        width: 70%;
        margin: 0 auto;
        text-align: left;

        @include pc {
          font-size: 1.2rem;
        }

        a {
          color: #28a746de;
          font-weight: bold;
          &:hover {
            color: #28a746de;
          }
          @include sp {
            font-size: 1.2rem;
          }
          @include pc {
            font-size: 1.4rem;
          }
        }

        .delete-post-btn {
          @include sp {
            font-size: 1.2rem;
          }
          @include pc {
            font-size: 1.4rem;
          }
          font-weight: bold;
          color: #5ba13680;
          margin-left: 1rem;
        }
      }

      .post-image img {
        @include sp {
          width: 8rem;
        }
        @include tab {
          width: 10rem;
        }
      }

      .datetime {
        @include pc {
          font-size: 1.4rem;
        }
        opacity: 0.7;
        margin-bottom: 0;
      }
    }
  }
}

// 投稿詳細

.post-show {
  background-color: #fbfbfb;
  border-top: solid 5px #28a746de;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 0 0 10px 10px;
  width: 70%;
  margin: 5rem auto;
  padding: 5rem;

  @include sp {
    width: 80%;
    margin: 0 auto;
    margin-top: 10rem;
  }
  @include tab {
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
    font-size: 1.2rem;
  }
  @include pc {
    font-size: 1.4rem;
    margin-top: 14rem;
  }

  .comment-message {
    color: red;
    @include sp {
      font-size: 1.2rem;
    }
    @include tab {
      font-size: 1.6rem;
    }
    @include pc {
      font-size: 2rem;
    }
  }
  
  .link-format {
    font-size: 1.6rem;
    @include tab {
      font-size: 2rem;
    }
    @include pc {
      font-size: 2.4rem;
    }
  }

  .like-icon {
    @include sp {
      font-size: 1.2rem;
    }
    @include tab {
      font-size: 1.6rem;
    }
  }

  .delete-post-btn {
    @include sp {
      font-size: 1.2rem;
    }
    @include tab {
      font-size: 1.6rem;
    }
    font-weight: bold;
    color: #5ba13680;
  }

  .post-image img {
    @include sp {
      width: 10rem;
    }
    @include tab {
      width: 14rem;
    }
    @include pc {
      width: 20rem;
    }
  }

  .comment {
    p {
      margin-bottom: 0.1rem;
    }

    .link-format {
      @include sp {
        font-size: 1.2rem;
      }
      @include tab {
        font-size: 1.6rem;
      }
      @include pc {
        font-size: 1.8rem;
      }
    }

    .comment-form {
      textarea {
        border: solid 1px #28a746de;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        resize: none;
        @include sp {
          width: 24rem;
          height: 6rem;
        }
        @include tab {
          width: 40rem;
          height: 10rem;
        }
        @include pc {
          width: 50rem;
          height: 12rem;
        }
      }

      .comment-btn {
        @include sp {
          width: 24rem;
        }
        @include tab {
          width: 40rem;
        }
        @include pc {
          width: 50rem;
          input {
            font-size: 1.2rem;
          }
        }
        text-align: center;

        input {
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        }
      }
    }

    .delete-post-btn {
      font-size: 1.2rem;
    }

    .datetime {
      opacity: 0.7;
      margin-bottom: 0;
    }
  }
}
