$sp: 575px; //max
$tab: 768px; //min
$pc: 1024px; //min

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

.search-page {
  background-color: #fbfbfb;
  border-top: solid 5px #28a746de;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 0 0 10px 10px;
  width: 70%;
  margin: 5rem auto;
  padding: 5rem;
  text-align: center;

  @include sp {
    width: 95%;
  }
  
  .nav-tabs {
    margin-top: 4rem;
    .nav-link {
      color: #5d627b;
    }
    .nav-link.active {
      background-color: #28a746de;
      color: #fff;
    }
  }

  .tab-content {
    .tab-pane h4 {
      padding-top: 3rem;
    }

    .tab-pane p {
      @include sp {
        margin: 0.6rem 0;
      }
      margin: 1rem 0;
      @include pc {
        font-size: 1.2rem;
      }
    }
  }
}
