/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "home";
@import "posts";
@import "users";
@import "login";
@import "search";
@import "edit_profile";
@import "edit_password";
@import "variables-storage";

$sp: 767px; //max
$tab: 768px; //min
$tab-max: 1023px;
$pc: 1024px; //min

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: ($tab)) and (max-width: ($tab-max)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

html {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  font-size: 62.5%;
  background-color: rgb(245, 245, 245);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.text {
  background-color: rgb(245, 245, 245);
}

#error_explanation {
  color: red;

  ul {
    list-style: none;
    li {
      @include tab {
        font-size: 1.2rem;
      }
      @include pc {
        font-size: 1.6rem;
      }
    }
  }
}

.notice {
  color: #28a746de;
  text-align: center;
  @include sp {
    font-size: 1.2rem;
  }
  @include tab {
    font-size: 1.4rem;
  }
  @include pc {
    font-size: 1.8rem;
  }
}

.alert {
  color: red;
  text-align: center;
  @include sp {
    font-size: 1rem;
  }
  @include tab {
    font-size: 1.2rem;
  }
  @include pc {
    font-size: 1.4rem;
  }
}

.partition {
  margin: 0.5rem 0;
}

#errors_explanation {
  ul {
    li.devise-error-message {
      font-size: 2rem;
    }
  }
}

.link-format {
  color: #333333;
  &:hover {
    text-decoration: none;
  }
}

// ナビゲーション
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.navbar {
  background-color: white;
  border-bottom: 2px solid #5d627b;

  .title {
    color: rgb(42, 160, 42);
    margin-left: 1rem;

    @include sp {
      font-size: 2.4rem;
      font-weight: bold;
    }
    @include tab {
      font-size: 2.4rem;
      font-weight: bold;
    }
  }

  .navbar-toggler {
    font-size: 2rem;
  }

  span {
    .search-form {
      @include pc {
        margin-left: 1rem;
        margin-top: 0.2rem;
      }
      input {
        @include pc {
          font-size: 1.2rem;
          line-height: 2.4rem;
          border: solid 2px #31dfbf;
        }
        border: solid 1px #31dfbf;
        border-radius: 12px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        &:focus {
          @include pc {
            border: solid 2px #31dfbf;
          }
          border-radius: 12px;
        }
      }
    }
    .search-user-btn {
      padding: 0.15rem 0.3;
      color: #5d627b;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
      &:hover {
        @include bg-color;
        color: white;
      }
      @include pc {
        margin-right: 4.8rem;
      }
    }
  }
}

.hamburger-icon {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
    xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 51, 51, 1)'
    stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

// .posts_index {
//   background-color: rgb(245, 245, 245);
//   padding-bottom: 1rem;
// }

.title {
  @include tab {
    font-size: 3rem;
  }
  @include pc {
    padding: 1rem 0;
    font-size: 3rem;
  }
  @include font-color;
  &:hover {
    text-decoration: none;
  }
}

.nav-info {
  color: #5d627b;
  font-size: 1.2rem;

  @include sp {
    font-size: 1.6rem;
    // color: #28a746de;
    color: white;
    font-weight: bold;
    @include bg-color;
    padding: 0 7px;
    border-radius: 10px;
  }
  @include tab {
    color: white;
    @include bg-color;
    padding: 0 7px;
    border-radius: 10px;
  }
  @include pc {
    border-radius: 10px;
    padding: 0.7rem;
    margin-left: 3rem;
    display: flex;
    color: white;
    @include bg-color;
    &:hover {
      color: #fff;
      transition-duration: 0.5s;
      text-decoration: none;
    }
  }
}

.login-btn {
  @include pc {
    margin-right: 10rem;
  }
}
